
/* font setup */
body{
    font-family: 'Work Sans', sans-serif;
}
.banner-tag{
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    color: #151414;
    width: 520px;
    padding-top: 100px;
    padding-bottom: 0px;
}

.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    text-align: right;
    width: 495px;
    padding: 10px 0px;
}

.banner-btn{
    color: white;
    text-align: right;
    background-color: #F15B22;
    border-radius: 5px;
    padding: 20px 25px;
    border: none;
    margin-bottom: 180px;

}

.banner{
    background-image: url('../images/banner/banner1.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}
